In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from urllib.request import urlopen
import datetime as dt
from datetime import datetime

# To Plot matplotlib figures inline on the notebook
%matplotlib inline

In [2]:
url1 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170225.txt'
df1 = pd.read_csv(url1)

url2 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170304.txt'
df2 = pd.read_csv(url2)

url3 = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_170311.txt"
df3 =pd.read_csv(url3)
url4 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170318.txt'
df4= pd.read_csv(url4)
url5 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170325.txt'
df5 = pd.read_csv(url5)

url6 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170401.txt'
df6=pd.read_csv(url6)
url7 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170408.txt'
df7 = pd.read_csv(url7)
url8 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170415.txt'
df8 = pd.read_csv(url8)
url9 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170422.txt'
df9 = pd.read_csv(url9)
url10 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170429.txt'
df10 = pd.read_csv(url10)
url11 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170506.txt'
df11 = pd.read_csv(url11)
url12 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170513.txt'
df12 = pd.read_csv(url12)
url13 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170520.txt'
df13= pd.read_csv(url13)
url14 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170527.txt'
df14= pd.read_csv(url14)
url15 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170603.txt'
df15 = pd.read_csv(url15)
url16 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170610.txt'
df16 = pd.read_csv(url16)
url17 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170617.txt'
df17 = pd.read_csv(url17)
url18 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170624.txt'
df18 = pd.read_csv(url18)

frames = [df1, df2, df3, df4, df5, df6, df7, df8, df9,\
          df10, df11, df12, df13,df14,df15,df16,df17, df18]

df = pd.concat(frames)
df.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
197411,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,05:00:00,REGULAR,5554,301
197412,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,09:00:00,REGULAR,5554,301
197413,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,13:00:00,REGULAR,5554,301
197414,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,17:00:00,REGULAR,5554,301
197415,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,21:00:00,REGULAR,5554,301

In [7]:
df['DATETIME'] = df['DATE'] + ' ' + df['TIME']
df['DATETIME'] = df['DATETIME'].apply(lambda x: dt.datetime.strptime(x, '%m/%d/%Y %H:%M:%S'))

weekdays = ['Monday', 'Tuesday', 
            'Wednesday', 'Thursday', 
            'Friday', 'Saturday', 'Sunday']

df['Day'] = df['DATETIME'].apply(lambda x: weekdays[x.weekday()])
df['Hour'] = df['DATETIME'].apply(lambda x: x.hour)
df['Week_Num'] = df['DATETIME'].apply(lambda x: x.week)